<footer class="footer__signature">
  <p class="footer__copyright">
    &copy;
    <img
      src="/img/s-logo black.png"
      alt="Mahadev Prasad Pal Website's logo"
      class="footer__logo"
    />
    Mahadev Prasad Pal
  </p>
</footer>