<nav class="nav-bar-container">
  <ul class="nav-links-container">
    <a class="nav-link" href="/"><li><button class="btn">Home</button></li></a>
    <a class="nav-link" href="/api/addNote"><li><button class="btn">Add note</button></li></a>
    <a class="nav-link" href="/api/allNotes"><li><button class="btn">All notes</button></li></a>
  </ul>
</nav>