<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://localhost:8000/api/styles">

    <link rel="icon" href="/img/favicon64.webp" />
    <link rel="apple-touch-icon" href="/img/favicon180.webp" />
    
    <title>{{{title}}}</title>
  </head>
  <body>
    {{>_navbar}}
    {{{body}}}
    {{>_footer}}
  </body>
</html>