<section class="home_page_section">
  <h1 class="home_page_heading">Home Page</h1>

  <div class="home_page_content">
    <p class="home_page_subheading">
      This is an application to manage your notes. It provides you
      functionalities like adding or creating a note, editing or updating a note
      and deleting a note as well.
    </p>

    <ul class="home_page_list">
      <li class="home_page_list_item">
        Developed using Handlebars.js for templating, Express.js for backend,
        MongoDB for database, and CSS for styling.
      </li>
      <li class="home_page_list_item">
        Implemented server-side rendering with Handlebars to create reusable UI
        components.
      </li>
      <li class="home_page_list_item">
        Designed and developed RESTful APIs in Express.js to handle CRUD
        operations efficiently.
      </li>
      <li class="home_page_list_item">
        Integrated MongoDB with Mongoose for seamless data storage and
        retrieval.
      </li>
      <li class="home_page_list_item">
        Utilized CSS to enhance the UI/UX.
      </li>
    </ul>
  </div>
</section>